.input:focus,
textarea:focus {
	border: solid 2px rgba(255, 255, 255, 0.25);
}

.input,
.textarea,
.button {
	font-size: 18px;
	border-radius: 7px;
	padding: 10px;
	background-color: transparent;
	border: solid 2px rgba(255, 255, 255, 0.07);
	color: inherit;
	transition: 0.2s;
	height: 40px;
	width: 100%;
}
.textarea {
	resize: none;
}
.button {
	padding: 0;
	width: 100%;
	min-height: 40px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.button:hover {
	filter: brightness(0.8);
}
