.subtask_input {
	width: 100%;
	font-size: 18px;
	border-radius: 7px;
	padding: 10px;
	background-color: transparent;
	border: solid 2px rgba(255, 255, 255, 0.07);
	color: inherit;
	transition: 0.2s;
	height: 40px;
}
.subtask {
	display: flex;
	gap: 10px;
	height: 40px;
	margin-left: 40px;
}

.icon {
	width: 20px;
	height: 20px;
}
.remove {
	background-color: #d64949;
	aspect-ratio: 1/1;
	width: 40px;
}
