.error {
	background-color: #aa3a3a75;
	backdrop-filter: blur(5px);
	border: #cc4e4e;
	border-radius: 10px;
	position: absolute;
	padding: 10px;
	z-index: 100;
}

.title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
}
.description {
	line-height: 1.5;
}
